
.filters{
    background-color: white;
    height: 70px;
    width: 100%;
    border: solid 1px #dddddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

}
button{
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border-style: none;
    border-radius: 4px;
    margin: auto 30px auto auto;
}
button:hover{
    opacity: 90%;
}
h3{
    font-weight: 600px;
}
h4{
    font-weight: 400px;
    font-size: 14px;
}
.locations{
    border-right: solid 1px #dddddd;
}
.amenities, .locations{
    height: 100%;
    width: 25%;
    margin-left: 30px;


}